/*

DART 450, Winter 2018
BrutalBook
Sévan Belleau

Some description of the CSS styling

*/

body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

.wall {
position: fixed;
background-color: #e9ebee;
height: 100vh;
width: 100vw;

}

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4468b0;
  height: 43px;
  width: 100vw;
  z-index: 1;
}

.searchBar {
  position: fixed;
  height: auto;
  width: 500px;
  top: -5px;
  left:45px;
  z-index: 2;
}

.sideBar {
  position: fixed;
  height: auto;
  width: 250px;
  top: 40px;
  left: 10px;
}

.makePost {
  position: absolute;
  height: auto;
  width: 550px;
  top: 50px;
  left:250px;
}

.goodMorning {
  position: absolute;
  height: auto;
  width: 550px;
  top: 230px;
  left:250px;
}

.audreyPost {
  position: absolute;
  height: auto;
  width: 590px;
  top: 335px;
  left:235px;
}

.audreyPost2 {
  position: absolute;
  height: auto;
  width: 590px;
  top: 800px;
  left:235px;
}


.topSideMenu {
  font-size: 16px;
  font-style: normal;
  font-family: "helvetica";
  position: absolute;
  top: 8.75vh;
  left: 9.64vw;
}

.John {
  width: 20px;
  height: auto;
  position: absolute;
  top: 8.75vh;
  left: 7.8vw;
}

.sideMenu {
  font-size: 16px;
  font-style: normal;
  font-family: "helvetica";
  position: absolute;
  top: 16vh;
  left: 7.8vw;
  line-height: 40px;
}

#sideMenuPic {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.shortcuts {
  font-size: 16px;
  font-style: normal;
  font-family: "helvetica";
  color: grey;
  position: absolute;
  top: 36vh;
  left: 7.9vw;
}

.sideMenuMore {
  font-size: 16px;
  font-style: normal;
  font-family: "helvetica";
  position: absolute;
  top: 42vh;
  left: 7.8vw;
  line-height: 40px;
}

.postContainer {
  background-color: white;
  position: absolute;
  top: 8.7vh;
  left: 21.2vw;
  width: 500px;
  height: 400px;
}

.firstPostTitle {
  font-size: 16px;
  font-weight: bold;
  font-family: "helvetica";
  color: #4468b0;
  position: absolute;
  margin-top: 12px;
  left: 50px;
}

#firstPostPic {
  height: 35px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 10px;

}
/*
  <div class="sideMenuMore" id="sideMenu">
    Mind control <br>
    MK Ultra <br>
    Illuminiati
    Illuminated
    42o VaPe NaTiOn
  </div> */
