/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {

}

.start {
  font-size: 18px;
  font-family: 'palatino';
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.door {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
  height: 200px;
  background: url("../items/door.png") no-repeat;
  background-size: contain;
}
