/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  user-select: none;
  overflow:hidden;
}

.circle {
  position: absolute;
  border-color: : black;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  margin: 0;
  z-index: 100;
}

/*
.hiddenPixel {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: black;
  opacity: .7;
  z-index: 100;
} */


#one {
  position: absolute;
  top: 300px;
  left:700px;
}


#title {
  position: absolute;
  top: 28%;
  left: 45%;
  font-size: 42px;
  font-family: helvetica;
  font-weight: bold;
  z-index: 100;
}


#frames {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 5;
}
.frame {
  position: absolute;
  width: 300px;
  height: auto;
}


#books {
  position: absolute;
  top: 6%;
  left: 22%;
  z-index: 10;
}
.book {
  position: absolute;
  width: 300px;
  height: auto;
}


#buffets {
  position: absolute;
  top: 15%;
  left: 77%;
  z-index: 20;
}
.buffet {
  position: absolute;
  width: 300px;
  height: auto;
}


#covers {
  position: absolute;
  top: 57%;
  left: 65%;
  z-index: 15;
}
.cover {
  position: absolute;
  width: 300px;
  height: auto;
}


#pyrs {
  position: absolute;
  top: 5%;
  left: 62%;
}
.pyr {
  position: absolute;
  width: 300px;
  height: auto;
}


#sofas{
  position: absolute;
  top: 52%;
  left: 20%;
}
.sofa {
  position: absolute;
  width: 300px;
  height: auto;
}


#tables {
  position: absolute;
  top: 44%;
  left: 42%;
  z-index: 18;
}
.table {
  position: absolute;
  width: 300px;
  height: auto;
}
