/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  background-color: orange;
  margin: 0 auto;

}
/* div {
position: absolute;
width: auto;
height: auto;

} */
div {
font-style: italic;
font-weight: bold;
font-size: 24px;
image width: auto;
image height: 50px;

}

.yay {
width: auto;
height: 50px;
position: absolute;
top: 10px;
left: 180px;
}

.one {
position: absolute;
top: 200px;
left: 500px;
height: auto;
width: 500px;

}

.door {
position: absolute;
top: 10px;
left:10px;
height: auto;
width: 300px;

}

.nope {
  position: absolute;
  top: 250px;
  left: 60px;
}

.him {
position: absolute;
bottom: 0;
right: 0;
margin-right: 20px;
margin-bottom: 20px;
height: 220px;
width: 200px;

background: url("../scans/him.png") no-repeat;
background-size: contain;
}

@media all and (max-width: 1300px){
  .him{
    background: url("../scans/him2.png") no-repeat;
    background-size: contain;
  }
}

@media all and (max-width: 1100px){
  .him{
    background: url("../scans/him3.png") no-repeat;
    background-size: contain;
  }
}

@media all and (max-width: 900px){
  .him{
    background: url("../scans/him4.png") no-repeat;
    background-size: contain;
  }
}

@media all and (max-width: 700px){
  .him{
    background: url("../scans/him5.png") no-repeat;
    background-size: contain;
  }
}

@media all and (max-width: 500px){
  .him{
    background: url("../scans/him6.png") no-repeat;
    background-size: contain;
  }
}

@media all and (max-width: 400px){
  .him{
    background: url("../scans/kimk.jpg") no-repeat;
    background-size: contain;
  }
}
